doctype
html
  head
    title presenter notes
    link(rel="icon",href="/css/images/logo.png")
    link(href='css/presenter-notes.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/velocity.min.js')
    script(type='text/javascript')
      | $.animate = $.velocity;
    script(type='text/javascript', src='js/jmpress.custom.js')
  body
    #cover welcome everyone
    #definitions let's start with a few definitions
    #haxer we should know what a HaxeR is ... but just to be clear

    #tools-use
      ul
        li easier to build than you might expext
        li probably cheaper than you might expect
        li more available than you might expect

    #tools-sensors
      ul
        li temperature, pressure
        li audio levels, voice recognition
        li -
        li -
        li GPS, accellerometers, magnetometers, gyroscope
        li geyger counter
        li ultrasound, infrared
        li RFID
        li heartrate, oxygen levels, blood pressure
        li voltage ?