doctype
html
  head
    title presenter notes
    link(rel="icon",href="/css/images/logo.png")
    link(href='css/presenter-notes.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/velocity.min.js')
    script(type='text/javascript')
      | $.animate = $.velocity;
    script(type='text/javascript', src='js/jmpress.custom.js')
  body
    #cover
      p welcome everyone
    #definitions
      p let's start with a few definitions
    #haxer
      p should know what a HaxeR is ... but just to be clear
    #maker
    #maker-culture
      p sounds familiar
      p share ideas, concepts and experiments
    #open-source
      p not sharing physical objects
      p blue-prints
    #rep-rap
      p a machine that is able to replicate itself
      p by print the parts needed to build other printers
      p 2004 by Adrian Bowyer
    #rep-rap-2
      p printed parts
      p G-code
    #gcode
      p numerical control machines
      p plain text
      p line by line
    #cura
      p by Ultimaker
    #os-computer
    #os-ecology
    #os-ecology-2
      p not just computer hardware
      p make machines accessible
    #tools
    #tools-machines
    #tools-3dprinters
    #tools-ffe
      p filament is heated and melted in the hot-end
      p extruded through a nozzle
      p builds layer by layer
      p limited by bridges
    #tools-sla
      p basin of liquid resin
      p a laser cures the resin
      p 30 euros per kg VS 120
    #tools-powderdeposition
      p more expensive machines
      p one layer of powder
      p sintering or gluing
    #tools-dmls
    #tools-bio
    #tools-machining
      p computer numerical control
    #tools-cnc
      p wood, acrylic, alluminum ...
    #tools-laser
      p governament regulations
    #tools-water
      p high-pressure water
      p ionized gas (material of stars)
    #tools-motion-system
    #tools-4axis
    #tools-delta
      p 3 sets of arms
      p at 60 degrees
      p movement is set by moving the carriage up/down
    #tools-h-bot
    #tools-scara
      p Selective Compliance Articulated Robot Arm
    #tools-7axis
    #tools-use
      ul
        li design or pick a model
        li easier to build than you might expext
        li probably cheaper than you might expect
        li more available than you might expect
    #tools-electronics
      p what kind of elettronic components are available
    #tools-sensors
      ul
        li temperature, pressure, wind sensors
        li audio levels, voice recognition
        li -
        li -
        li GPS, accellerometers, magnetometers, gyroscope
        li geyger counter
        li ultrasound, infrared
        li RFID
        li heartrate, oxygen levels, blood pressure
        li voltage ?
    #tools-actuators
      ul
        li -
        li buzz
        li -
        li -
        li push a piston
        li drive a 3d printer
        li steer a RC model
        li spin a quadcopter rotor
    #tools-breakout
      p packaged in board
      p accellerometer
      p gyroscope
      p magnetometer
      p barometer for altitude
      ul
        li
          p i-squared-c, Inter-Integrated Circuit
          p multimaster serial single-ended computer bus
          p since 2006 no licensing fees are required to implement
          p 7 bit addressing (128 devices) - or 16 bit
          p master generates clock and initiates comm with slaves
          p slave receive clock and responds when addressed by master
        li
          p Serial Peripheral Interface Bus
          p requires more pins but has higher throughput
        li
          p low-speed but long-range
          p for small inexpensive devices, like digital thermometers and weather instruments

    #tools-components
      ul
        li diodes
        li resistors
        li capacitors
        li micro chips
    #tools-libraries
    #tools-libraries-openbuildpartstore
    #tools-libraries-adafruit
    #tools-libraries-sparkfun
    #tools-libraries-seeed
    #tools-virtual-libraries
    #tools-libraries-thingiverse
    #tools-libraries-youmagine
    #tools-libraries-cubehero
    #tools-libraries-bld3r
    #tools-libraries-fabster
    #tools-libraries-ponoko
    #tools-libraries-3dhacker
    #tools-libraries-myminifactory
    #tools-libraries-github
    #tools-libraries-github-2
    #editor
    #editor-inkscape
    #editor-openscad
    #editor-openscad-2
    #editor-openjscad
    #editor-tinkercad
    #editor-opportunity
    #haxe
    #haxe-compilers
    #haxe-compilers-2
    #haxe-runners
    #haxe-communicators
    #code-bonescript
    #code-rgb
    #code-gps
    #code-gps-2