header
  h1 Haxe for Makers
  h2 by Franco Ponticelli
  h3
    i.fa.fa-twitter
    | <br>
    a(href="http://twitter.com/fponticelli",target="_blank") @fponticelli

article

footer
  div WWX2014 - Paris