h2 Editors

.split-big
  .left(data-jmpress="fade after step")
    h3 Cutters and CNC Routers
    ul
      li 2D
      li 2.5D
      li 3D

  .right(data-jmpress="fade after .left")
    h3 3D Printers and some CNC
    ul
      li 3D