h3 Device that can Run Haxe generated code

.split-big
  .left
    h2 .Net
    ul
      li
        a(href="http://netduino.com/",target="_blank") Netduino
        br
        img(src="images/netduino.jpg")
      li
        a(href="https://www.ghielectronics.com/",target="_blank") .NET Gadgeteer
  .right
    h2 C/C++ ?
    ul
      li
        a(href="http://arduino.cc/en/Main/ArduinoBoardZero",target="_blank") Arduino Zero
        br
        img.size75(src="images/arduinozero.png")