h3 Device that can Run Haxe generated code

.split-big
  .left
    h2 JavaScript
    ul
      li
        a(href="http://www.espruino.com/",target="_blank") Espruino (STM32 boards)
        br
        img.size75(src="images/espruino.jpg")
      li
        a(href="https://tessel.io/",target="_blank") Tessel
  .right
    h2 Python
    ul
      li
        a(href="http://micropython.org/",target="_blank") Micro Python
        br
        img.size75(src="images/micropython.jpg")