h3 Support for Haxe Compiler

h2 Linux - pocket computers

ul
  li
    a(href="http://beagleboard.org/",target="_blank") BeagleBone Black
  li
    a(href="http://www.raspberrypi.org/",target="_blank") Raspberry PI
  li
    a(href="http://arduino.cc/en/Main/ArduinoBoardYun",target="_blank") Arduino Yun
  li
    a(href="http://arduino.cc/en/Main/ArduinoBoardTre",target="_blank") Arduino Tre (coming soon)
  li
    a(href="http://www.pcduino.com/",target="_blank") pcDuino