h1 device that can communicate with Haxe code

p anything that has a serial port, a wifi, a bluetooth module ...

br

.split-big
  .left
    ul
      li
        a(href="http://arduino.cc/",target="_blank") Arduino Uno
        |  and friends
        br
        img.size50(src="images/arduino.jpg")
  .right
    ul
      li
        a(href="http://arduino.cc/en/reference/firmata",target="_blank") firmata
      li
        a(href="https://github.com/rwaldron/johnny-five",target="_blank") Johnny Five