h1 Device that can Run Haxe generated code

.split
  .third-1
    h3 JavaScript
    ul
      li
        a(href="http://www.espruino.com/",target="_blank") Espruino (STM32 boards)
        br
        img.size75(src="images/espruino.jpg")
      li
        a(href="https://tessel.io/",target="_blank") Tessel
  .third-2
    h3 Python
    ul
      li
        a(href="http://micropython.org/",target="_blank") Micro Python
        br
        img.size75(src="images/micropython.jpg")
  .third-3
    h3 .Net
    ul
      li
        a(href="http://netduino.com/",target="_blank") Netduino
        br
        img(src="images/netduino.jpg")
      li
        a(href="https://www.ghielectronics.com/",target="_blank") .NET Gadgeteer