article
  h1 Maker Culture

  blockquote
    | The maker culture is a contemporary culture representing
    | a technology-based extension of DIY culture.
    cite Wikipedia

  blockquote(data-jmpress="fade after step")
    | 'Maker culture' emphasizes learning-through-doing (constructivism)
    | in a social environment. Maker culture emphasizes informal,
    | networked, peer-led, and shared learning motivated by fun and
    | self-fulfillment.
    cite Wikipedia