.split
	.left(data-jmpress="fade after step")
		h1 BeagleBone Black
		figure
			a(href="http://beagleboard.org/",target="_blank")
				img(data-src="images/bbb.jpg")
	.right(data-jmpress="fade after .left")
		h1 Raspberry Pi
		figure
			a(href="http://www.raspberrypi.org/",target="_blank")
				img(data-src="images/pi.jpg")