h2 section
h1 title

.split-big
  .left
    ul
      li(data-jmpress="fade after step") 
      li(data-jmpress="fade after li:first-child") 
      li(data-jmpress="fade after li:nth-child(2)") 
      li(data-jmpress="fade after li:nth-child(3)") 
      li(data-jmpress="fade after li:nth-child(4)") 
  .right
    ul
      li(data-jmpress="fade after li:nth-child(5)") 
      li(data-jmpress="fade after li:nth-child(6)") 
      li(data-jmpress="fade after li:nth-child(7)") 
      li(data-jmpress="fade after li:nth-child(8)") 
      li(data-jmpress="fade after li:nth-child(9)") 