h2 Craftsman - Electronics
h1 Sensors

.split-big
	.left
		ul
			li(data-jmpress="fade after .left step") environmental
			li(data-jmpress="fade after .left li:first-child") sound
			li(data-jmpress="fade after .left li:nth-child(2)") touch / flex / force
			li(data-jmpress="fade after .left li:nth-child(3)") light / color
			li(data-jmpress="fade after .left li:nth-child(4)") position / orientation
	.right
		ul
			li(data-jmpress="fade after .left li:nth-child(5)") radiation
			li(data-jmpress="fade after .right li:nth-child(1)") proximity
			li(data-jmpress="fade after .right li:nth-child(2)") ID
			li(data-jmpress="fade after .right li:nth-child(3)") biometric
			li(data-jmpress="fade after .right li:nth-child(4)") current
			li(data-jmpress="fade after .right li:nth-child(5)") switches / buttons