h2 Craftsman - Electronics
h1 Actuators

.split-big
	.left
		ul
			li(data-jmpress="fade after step") sound
			li(data-jmpress="fade after li:nth-child(1)") vibration
			li(data-jmpress="fade after li:nth-child(2)") heat
			li(data-jmpress="fade after li:nth-child(3)") image
	.right
		ul
			li(data-jmpress="fade after li:nth-child(4)") magnetic (solenoid)
			li(data-jmpress="fade after li:nth-child(5)") stepper motors
			li(data-jmpress="fade after li:nth-child(6)") servo motors
			li(data-jmpress="fade after li:nth-child(7)") dc motors