h3 Craftsman - Machines - 3D Printers
h2 Powder Deposition

.split
  .left
    figure
      img(data-src="images/powderdeposition.jpg")
  .right
    figure
      img(data-src="images/powderdeposition-2.jpg")