h2 Craftsman - Electronics
h1 Sensors

.split-big
	.left
		ul
			li(data-jmpress="fade after step") environmental
			li(data-jmpress="fade after li:first-child") sound
			li(data-jmpress="fade after li:nth-child(2)") touch / flex / force
			li(data-jmpress="fade after li:nth-child(3)") light / color
			li(data-jmpress="fade after li:nth-child(4)") position / orientation
	.right
		ul
			li(data-jmpress="fade after li:nth-child(5)") radiation
			li(data-jmpress="fade after li:nth-child(6)") proximity
			li(data-jmpress="fade after li:nth-child(7)") ID
			li(data-jmpress="fade after li:nth-child(8)") biometric
			li(data-jmpress="fade after li:nth-child(9)") current
			li(data-jmpress="fade after li:nth-child(10)") switches / buttons

.notes
