h3 Craftsman - Machines - 3D Printers
h2 SLA - Stereolitography &amp; DLP

figure
	iframe(data-src="http://www.youtube.com/embed/IjaUasw64VE?start=0&end=76",width="560",height="315",frameborder="0")

