h3 Craftsman - Machines - Machining

.split-big
	.left
		h2 Water Jet Cutter
		figure
			img.size90(src="images/waterjet.jpg")
	.right
		h2 Plasma Cutter
		figure
			img.size90(src="images/plasma.jpg")