h2 Craftsman
h1 "Virtual Libraries"

.split-big
  .left
    ul
      li
        a(href="http://www.thingiverse.com/",target="_blank")
        | MakerBot Thingiverse
      li
        a(href="https://www.youmagine.com/",target="_blank")
        | YouImagine
      li
        a(href="https://cubehero.com/",target="_blank")
        | Cubehero
      li
        a(href="http://www.bld3r.com/",target="_blank")
        | Bld3r
  .right
    ul
      li
        a(href="http://www.fabster.com/",target="_blank")
        | Fabster
      li
        a(href="https://www.ponoko.com/",target="_blank")
        | Ponoko
      li
        a(href="http://3dhacker.com/",target="_blank")
        | 3D Hacker!
      li
        a(href="http://www.myminifactory.com/",target="_blank")
        | My Mini Factory
