h2 Craftsman - Machines
h1 Subractive Manufacturing - Machining

ul
	li(data-jmpress="fade after step") CNC router
	li(data-jmpress="fade after li:first-child") Laser Cutter
	li(data-jmpress="fade after li:nth-child(2)") Water Jet Cutter