h2 Craftsman - Machines
h1
	| 3D Printers
	br
	| Additive Manufacturing

ul
	li(data-jmpress="fade after step") filament extrusion
	li(data-jmpress="fade after li:first-child") resin curing
	li(data-jmpress="fade after li:nth-child(2)") powder deposition
	li(data-jmpress="fade after li:nth-child(3)") direct metal laser sintering
	li(data-jmpress="fade after li:nth-child(4)") bio-material