h2 Craftsman - Machines
h1
	| Machining
	br
	| Subractive Manufacturing

ul
	li(data-jmpress="fade after step") CNC routers
	li(data-jmpress="fade after li:first-child") Laser Cutters
	li(data-jmpress="fade after li:nth-child(2)") Water Jet Cutters
	li(data-jmpress="fade after li:nth-child(3)") Plasma Cutters