h2 Craftsman - Electronics
h1 Breakout Boards

.split-big
  .left.zoom-out
    figure
      img(src="images/breakout.jpg")
  .right
    figure
      ul
        li(data-jmpress="fade after li:nth-child(1)") I2C
        li(data-jmpress="fade after li:nth-child(2)") SPI
        li(data-jmpress="fade after li:nth-child(3)") 1 wire
        li(data-jmpress="fade after li:nth-child(4)") serial communication (COM / USB/ / Radio / Bluetooth)