h2 Craftsman - Electronics
h1 Components

.split-big
  .left
    figure
      img(src="images/components.jpg")
  .right
    figure
      ul
        li(data-jmpress="fade after li:nth-child(1)") analog
        li(data-jmpress="fade after li:nth-child(2)") digital