h2 Craftsman
h1 "Physical Libraries"

ul
  li
    a(href="http://openbuildspartstore.com/",target="_blank")
      img.size50(src="images/logo-openbuildspartstore.png",title="Open Builds Part Store")
  li
    a(href="https://www.adafruit.com/",target="_blank")
      img.size50(src="images/logo-adafruit.png",title="adafruit")
  li
    a(href="https://www.sparkfun.com/",target="_blank")
      img.size50(src="images/logo-sparkfun.png",title="sparkfun")
  li
    a(href="http://www.seeedstudio.com/",target="_blank")
      img.size50(src="images/logo-seeed.png",title="seeed")