h3 Craftsman - Machines - 3D Printers
h2 FFE - Fused Filament Extrusion or FDM - Fused Deposition Modelling

figure
	iframe(data-src="http://player.vimeo.com/video/14292165?byline=0",width="500",height="281",frameborder="0")